.commentItem {
    margin-bottom: 1rem;
}
.commentItem__header {
    margin-bottom: 0;
}
.commentItem__content {
    margin-top: .25rem;
    margin-bottom: 0;
}
.commentItem__actions {
    margin-top: .5rem;
    margin-bottom: 0;
}