// .CVCorrection__pdf {
//   width: 50%;
//   position: relative;
// }
.react-pdf__Document.CVCorrection__pdf {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.CVCorrection__form {
  flex-grow: 1;
}

.cvCorrection__pdfContainer {
  width: 57%;
}
