.email_prompt_redirect {
    width: 100% !important;
    background-color: #7345a9 !important;
}

.submit_message {
    margin-top: 2vh;
}

@media(max-width: 768px) {
    .loginPage__card {
        width: 100% !important;
    }
}
