.navbar_logo {
    max-width: 200px;
    max-height: 100px;
}

.charity_logo {
    max-height: 200px;
    max-width: 250px;
    background-color: white;
    display: inline-block;
}

.charity_logo:hover {
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.5);
    opacity: .5;
}

.nav_buttons {
    text-align: right;
}