.floating-menu {
    position: absolute;
    right: 8px;
    top: 75px;
    text-align: right;
    z-index: 1;
    /*transition: height 250ms ease-in-out;*/
}

.floating-menu-icon {
    display: inline-block;
    width: 42px;
    height: 42px;
    line-height: 42px;
    vertical-align: middle;
    text-align: center;
    background: #7345a9;
    border-radius: 50%;
    border: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    font-size: 36px;
    color: #fff;
    cursor: pointer;
}

.floating-menu-text {
    position: relative;
    top: -4px;
}

.floating-menu-icon:hover {
    background-color: #a066e2;
}