.loginPage {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.loginPage__links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.loginPage__bgImage {
  position: absolute;
  max-width: 100%;
  opacity: 0.3;
  /* top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
}
