.loginPage {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  overflow: hidden;
}

.loginPage__links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.loginPage__button {
  margin-bottom: 1rem !important;
}

@media (min-width: 768px) {
  .loginPage__card--login {
    width: 400px !important;
  }

}
