.background {
    background-image: url("../../assets/menu-backdrop.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;

    height: 100vh;
    flex-direction: column;
}

.users-approval-card {
    padding-top: 10vh;
}
.no-border {
    border: none !important;
}
.border {
    border: gray;
}
.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}