.cv_approval_card {
    padding-top: 10vh;
}

.cv_approval_card_title {
    text-align: center;
}
.cv_approval_background {
    background-image: url("../../assets/menu-backdrop.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;

    height: 100vh;
    flex-direction: column;
}
.no-border {
    border: none !important;
}
.border {
    border: gray;
}