.menu-background {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  height: 100vh;
  flex-direction: column;
}
.menu-button-small {
  margin-right: 40px;
  margin-left: 40px;
}
.menu-button-big {
  padding: 10px !important;
  width: 300px;
  margin-right: 40px;
  margin-left: 40px;
  font-size: xx-large !important;
}
.menu-button-row {
  margin-top: 50px;
  flex-direction: column;
}
.menu-logo {
  width: inherit;
}
/* .menu-button-white {
  color: white !important;
  border-color: white !important;
  border-width: thin !important;
  background-color: transparent !important;
} */

@media (max-width: 600px) {
  .menu-button-big {
    text-align: center;
    padding: 20px !important;
    width: 300px;
    margin-bottom: 20px;
    font-size: xx-large !important;
  }
  .menu-button-small {
    width: 80vw;
    text-align: center;
    margin-bottom: 20px;
  }
  .menu-background {
    /* background-image: url("../../assets/menu-backdrop.png"); */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    height: 100vh;
    flex-direction: column;
  }
}
