.font {
  font-family: "MonoType", serif;
  font-size: 20px;
}
.company-logo-row {
  justify-content: center;
}
.company-logo {
  width: 180px;
}
.social-media-row {
  padding-left: 20%;
}
.company-title {
  height: 70px;
  text-align: center;
  justify-content: center;
}
.a {
  color: black;
}
a:hover {
  text-decoration: none;
}

@media (min-width: 1140px) {
  .font {
    font-size: 25px;
  }
  .company-logo {
    width: 200px;
  }
  .company-title {
    height: 70px;
  }
  .company-title {
    margin-top: 50px;
    margin-bottom: 20px;
  }
  .social-media-row {
    height: 41px;
  }
  .social-media-row-first {
    margin-top: 36px;
  }
  .social-media-icon {
    height: 41px;
  }
}

@media (min-width: 951px) and (max-width: 1139px) {
  .company-title {
    margin-top: 70px;
  }
  .social-media-row {
    height: 36px;
  }
  .social-media-row-first {
    margin-top: 50px;
  }
  .social-media-icon {
    height: 36px;
  }
}
@media(min-width: 951px) and (max-width: 991px) {
  .company-title {
    margin-top: 70px;
  }
  .social-media-row {
    height: 31px;
  }
  .social-media-row-first {
    margin-top: 57px;
  }
  .social-media-icon {
    height: 31px;
  }
  .company-logo {
    width: 140px;
  }
  .social-media-col {
    margin-left: 50px;
  }
  .company-title {
    margin-top: 73px;
  }
}

@media (min-width: 769px) and (max-width: 950px) {
  .social-media-row-first {
    margin-top: 55px;
  }
  .company-logo {
    width: 130px;
  }
  .social-media-col {
    margin-left: 50px;
  }
  .company-title {
    margin-top: 73px;
  }
  .social-media-row {
    height: 30px;
  }
  .social-media-icon {
    height: 30px;
  }
}

@media (width: 768px) {
  .company-logo {
    width: 139px !important;
  }
  .social-media-col {
    padding-left: 0 !important;
  }
  .company-title {
    margin-top: 60px;
    margin-bottom: 20px;
  }
}

@media(min-width: 576px) and (max-width: 767px) {
  .social-media-row {
    padding-left: 163px!important;
    padding-top: 5px !important;
  }
}

@media (max-width: 767px) {
  .social-media-row {
    padding-left: calc(50vw - 105px);
    padding-top: 5px !important;
  }
  .company-title {
    justify-content: center;
    height: 40px;
  }
  .company-logo-row {
    justify-content: center;
    width: auto;
  }
  .social-media-col {
    padding-left: calc(50vw - 100px);
    padding-bottom: 30px;
  }
  .mobile-col {
    padding-bottom: 0 !important;
  }
}
