.font {
  font-family: "MonoType", serif;
  font-size: 20px;
}
.company-logo-row {
  justify-content: center;
}
.company-logo {
  width: 180px;
}
.social-media-row {
  padding-left: 35%;
}
.company-title {
  height: 70px;
  text-align: center;
  justify-content: center;
}
a {
  color: black;
}
a:hover {
  text-decoration: none;
}

@media (min-width: 1140px) {
  .font {
    font-size: 25px;
  }
  .company-logo {
    width: 200px;
  }
  .company-title {
    height: 70px;
  }
  .company-title {
    margin-top: 50px;
    margin-bottom: 20px;
  }
}

@media (min-width: 951px) and (max-width: 1139px) {
  .company-title {
    margin-top: 70px;
  }
}

@media (min-width: 769px) and (max-width: 950px) {
  .company-logo {
    width: 139px;
  }
  .social-media-col {
    margin-left: 50px;
  }
  .company-title {
    margin-top: 73px;
  }
}

@media (width: 768px) {
  .company-logo {
    width: 139px !important;
  }
  .social-media-col {
    padding-left: 0 !important;
  }
  .company-title {
    margin-top: 65px;
  }
}

@media (max-width: 768px) {
  .social-media-row {
    padding-left: 25%;
  }
  .company-title {
    justify-content: center;
    height: 90px;
  }
  .company-logo-row {
    justify-content: center;
    width: auto;
  }
  .social-media-col {
    padding-left: calc(50vw - 100px);
    padding-bottom: 30px;
  }
}
